.board {
  margin: 50px auto;
  width: 50%;
  background-color: yellow;
  border: .01em solid grey;
}

.list {
  border: .01em solid red;
  height: 80%;
  width: 80%;
  background-color: white;
  text-align: center;
}

.card {
  display: inline-block;
  border: .001em solid grey;
  height: 50%;
  width: 50%;
  list-style-type: none;
  background-color: blue;
}

 .card-title {
  display: block;
  background-color: white;
}

.card-content {
  display: block;
  background-color: grey;
  height: 40%;
  width:40%;
}
